<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Market</title>
    </head>
    <body>
        <center><h1>List all users</h1></center>
        <table border="1" align="center">
            <tr>
                <th>Identification</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>E-mail</th>
            </tr>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[4] }}</td>
            </tr>
            {% endfor %}    
        </table>       
    </body>
</html>